/* Allgemeines Styling */
body {
    margin: 0;
    padding: 0;
    font-family: "Courier New", monospace;
    background-image: linear-gradient(to bottom, red, orange, yellow, green, blue, purple);
}

/* Links */
a:hover {
    background-color: red !important;
    color: white !important;
    font-size: 22px;
}

/* Bilder */
img {
    transform: rotate(15deg);
}

/* Listen */
ul li:hover {
    color: magenta;
    font-size: 20px;
    text-decoration: underline wavy;
}

/* Buttons */
button:hover {
    background-color: lime;
    color: black;
    font-weight: bold;
}
